*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    background: pink;
}
h1{
    margin-left: 35rem;
    margin-top: 10rem;
    font-size:5rem ;
}
.zero{
    margin-left: 42rem;
    font-size: 6rem;
}
.counter{
    text-align: center;
    margin-top: 4rem;
}
.counter button{
display: inline-block;
border:  1px solid gray;
width: 8%;
cursor: pointer;
padding: 0.3rem;
border-radius: 1rem;

}
.counter button:hover{
background-color: palevioletred;
}